*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Topic {
    color: aliceblue;
    font-size: 44px;
}

body {
    overflow-x: hidden;
}

.background-shape img {
  position: absolute;
  top: -230px;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
