.NameTopic {
    top: 20px;
    position: relative;
    display: inline-block;
    border: 5px solid black;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.box-Topic {
    text-align: center;
    margin-top: 40px;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.Topic-About {
    font-size: 24px;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.Welcome {
    text-align: center;
    margin-top: 30px;
    font-size: 44px;
}


.About-content {
    border: 5px solid black;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 3px;

}

#typeText {
    line-height: 1.6;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

button {
    background-color: #000000;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    position: relative;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px; /* ระยะห่างระหว่างปุ่ม */
    margin-top: 30px;
}

button.active {
  transform: scale(1.15);
  background-color: #8b1ae8;
  box-shadow: 0 0 15px rgba(139, 26, 232, 0.5);
  font-weight: bold;
  transition: all 0.3s ease;
}


button:hover {
    background-color: #08204e;
    transform: scale(1.08); /* ✅ ขยายเล็กน้อย */
    box-shadow: 0 0 15px rgba(70, 31, 209, 0.6); /* ✅ เพิ่มแสงเงา */
}

#connectBtn {
     position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* ให้ลอยอยู่บนสุด */
    background-color: #000000;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#connectBtn:hover {
    background-color: #157c38;
    box-shadow: 0 0 10px rgba(38, 240, 88, 0.4);
    transform: scale(1.05);
}
