/* Navbar */
header {
    width: 100%;
    /*ให้ header ขนาดเต็มหน้าจอ 100% ไม่ว่าจะหน้าจอจากเครื่องไหน*/
    position: fixed;
    /*ยึดพื้นที่หน้าจอไปเลย*/
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    /*ตำแหน่งเงา (+ไปขวา -ไปซ้าย 0ตรงกลาง), เงาในแนวตั้ง 2px=เลื่อนลงมา2px, ระยะกระจายเงายิ่งค่าน้อยยิ่งคม*/
    z-index: 10;
    /*เหมือนเป็นเลเยอร์อยู่ชั้นบนสุด ที่คือลำดับชั้น*/
}

.navbar {
    display: flex;
    /*ระบบ Flexbox จัดเรียงซ้ายขวาอัตโนมัติ*/
    justify-content: space-between;
    /*จัดตำแหน่ง ให้ตรงตรงกลางเป็นพื้นที่ว่าง*/
    align-items: center;
    /*ตำแหน่งรายการอยู่กึ่งกลาง*/
    max-width: 1200px;
    /*กำหนดความกว้างให้ margin คำนวณ [เพิ่มคุณภาพ]*/
    margin: 0 auto;
    /*0=กลางจอ auto [เพิ่มคุณภาพ]*/
    padding: 1rem 2rem;
    /*[เพิ่มคุณภาพ]*/
}

.nav-logo h2 {
    /*เลือก h2 ที่อยู่ภายใต้ element ของคลาส nav-logo*/
    margin: 0;
    /*<h> จะมีขอบบน,ล่าง ก็จะตัดออกไปบ้างเพื่อให้พอดีกับ navbaar*/
    color: #d2691e;
    font-size: 1.8rem;
    /*1rem = 16px*/
}

.nav-menu {
    list-style: none;
    /*ลบสัญลักษณ์จุดออก*/
    display: flex;
    margin: 0;
    /*ลบช่องว่างรอบนอกออก*/
    padding: 0;
    /*ลบช่องว่างรอบนอกใน*/
}

.nav-item {
    margin-left: 20px;
    /*ใส่ระยะห่างแต่ละตัวในด้านซ้าย 20px*/
}

.nav-link {
    text-decoration: none;
    /*ลบขีดเส้นใต้ลิ้งออก*/
    color: #333;
    /*สีตัวอักษร*/
    font-weight: bold;
    /*ข้อความหนา*/
    transition: color 0.5s;
    /**/
}

.nav-link:hover {
    /*hover = เฉพาะตอนเอาเม้าส์ไปชี้*/
    color: #d2691e;
    /*เม้าส์ชี้แล้วเปลี่ยนสี*/
}
